<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="loginAllegro" value="VAG24" />
    <add key="titleClass" value="ebc9be2  " />
    <add key="priceClass" value="fee8042" />
  </appSettings>
</configuration>
